<div class="artwork_item container-small">
  <div>
    <h3 class="artwork_item__type">- {{ include.type }}<span class="syantax-colon">:</span></h3>
    <a href="{{ include.artwork.url }}">
      <h4 class="artwork_item__title button-inline">{{ include.artwork.title }}</h4>
    </a>
  </div>

  {% if include.artwork.thumbnail == true %}
  <a href="{{ include.artwork.url }}">
    <img class="artwork_item__image" src="{% asset_path thumbnail.jpg {{ include.artwork.id }} %}">
  </a>
  {% endif %}

  {{ include.artwork.excerpt }}

  {% if include.artwork.tags != empty %}
    <ul class="artwork_item__tags">
      {% for tag in include.artwork.tags %}
        <li class="artwork_item__tag">{{ tag }}</li>
      {% endfor %}
    </ul>
  {% endif %}
</div>
