{% assign label = include.label %}
{% if include.meta == false %}
  {% assign meta = include.meta %}
{% else %}
  {% assign meta = true %}
{% endif %}
{% assign artwork = include.artwork %}

<a href="{{ artwork.url }}">
  <article class="artwork_item container-small">
      <section>
        {% if include.label %}
          <h3 class="artwork_item__type">- {{ label }}<span class="syantax-colon">:</span></h3>
        {% endif %}
          <h4 class="artwork_item__title button-inline">{{ artwork.title }}</h4>
      </section>

      {% if artwork.missing-images == false %}
        <section class="small">
          <img class="artwork_item__image" src="{% asset_path card.jpg {{ artwork.id }} %}">
        </section>
      {% endif %}

      {{ artwork.excerpt }}

      {% if meta == true %}
        {% if artwork.tags != empty %}
          <ul class="artwork_item__tags">
            {% for tag in artwork.tags %}
              <li class="artwork_item__tag">{{ tag }}</li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endif %}
  </article>
</a>
