<nav class="nav-bottom">
  <button class="nav-bottom__drawer_toggle button-icon">{% include icons/bars.svg %}</button>
</nav>

<div class="nav-drawer">
  <nav class="nav-drawer__nav">
    <header class="container theme-primary">
      <h1>Joel Lithgow</h1>
    </header>

    <main class="container theme-primary">
      <a href="/">
        <h3>home</h3>
      </a>

      <a href="/about/">
        <h3>/ about</h3>
      </a>

      <section> 
        <a href="/artwork/">
          <h3>/ artwork</h3>
        </a>
        <a href="/artworks/">
          <h4>-- artworks</h4>
        </a>
        <a href="/artwork/collections/">
          <h4>-- collections</h4>
        </a>
      </section>

      <a href="/social/">
        <h3>/ social</h3>
      </a>
    </main>
  </nav>

  <div class="nav-drawer__offclick"></div>
</div>
