---
title: artwork__all
layout: default
permalink: /artworks/
---
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>

<link rel="stylesheet" href="/assets/css/artworks.css">


<div class="containerz artworks">
  <a href="/artwork/" class="banner">
    <h2 class="">> Artwork</h2>
    <h3>-- All</h3>
  </a>
  <h3>{{ site.artwork | size }} results
    <!--<button class="button-secondary">Filter</button>-->
  </h3>

  <div class="">
    <ul class="container-small">
      {% for artwork in site.artwork %}
        <li>{% include artwork-list.html artwork=artwork %}</li>
      {% endfor %}
    </ul>
  </div>

  <a href="/artwork" class="containerz__footer">
    <p class="button-inline">read about my art practice</p>
  </a>
</div>
