---
layout: default
title: Artwork
---
<link rel="stylesheet" href="/assets/css/artwork.css">

<div class="container">
  <header class="banner">
    <h3>jlithgow -</h3>
    <h2>> Artwork</h2>
  </header>

  <section class="basic">
    <h4>Artist Statement</h4>
    <h5>updated: Jan 09, 2021</h5>
    <p>Wether I am the artist or just the machine I could not tell you. My work usually results in (describe print projects) or (describe machine god sculptures). Being born after "when it changed", my life has (un?)questionaly revolved around technology and machines (maybe instad of tech/machines say something like [those that require pieces together to function or some shit]. Something about divine artwork and setting uo the machine god ideaology.</p>
  </section>

  <header class="banner">
    <a href="/artwork/collections">
      <h2>/ Collections</h2>
    </a>
  </header>

  <section class="basic">
    {% for collection in site.artwork-collection %}
      {% include collection-list.html collection=collection %}
    {% endfor %}
  </section>
  
  <header class="banner">
    <a href="/artworks">
      <h2>/ Artworks</h2>
    </a>
  </header>

  <section class="basic">
    {% assign artwork-sample = site.artwork | sample %}
    <h3>Sample( {{ artwork-sample.title }} )</h3>
    {% include artwork-promo.html artwork=artwork-sample %}
  </section>

  <hr></hr>

  <section class="basic">
    <h3>Latest( 3 )</h3>
    <ul>
      {% assign artwork-latest = site.artwork | sort: 'date' | reverse %}
      {% for artwork in artwork-latest limit:3 %}
        <li>{% include artwork-item.html artwork=artwork meta=false %}</li>
      {% endfor %}
    </ul>
  </section>

  <hr></hr>

  <footer>
    <a href="/artworks">
      <button class="primary">See all Artwork</button>
    </a>
  </footer>
</div>
