---
layout: default
title: Artwork
---
<link rel="stylesheet" href="/assets/css/artwork.css">

<div class="containerz">
  <a href="/" class="banner">
    <h3>jlithgow -</h3>
    <h2>> Artwork</h2>
  </a>
  <div class="container-small">
    <h4>Artist Statement</h4>
    <h5>updated: Jan 09, 2021</h5>
    <p>Wether I am the artist or just the machine I could not tell you. My work usually results in (describe print projects) or (describe machine god sculptures). Being born after "when it changed", my life has (un?)questionaly revolved around technology and machines (maybe instad of tech/machines say something like [those that require pieces together to function or some shit]. Something about divine artwork and setting uo the machine god ideaology.</p>
  </div>

  <a href="/artwork/collections" class="containerz__header">
    <h2 class="banner">/ Collections</h2>
  </a>
  <div class="container-small">
    {% assign collections =  site.artwork | map: 'collections' | join: ','  | split: ',' | uniq %}
    {% for collection in collections %}
    <a href="/artwork/collection/{{ collection }}">
      <p>{{ collection }}</p>
    </a>
    {% endfor %}
  </div>

  
  <a href="/artworks" class="containerz__header">
    <h2 class="banner">/ Artworks</h2>
  </a>
  <div class="container-small">
    <h3>Sample</h3>
    {% assign artwork-sample = site.artwork | sample %}
    {% include artwork-card.html artwork=artwork-sample %}
  </div>
  <hr></hr>
  <ul class="container-small">
    <h3>Latest( 3 )</h3>
    {% for artwork in site.artwork limit:3 %}
    <li>{% include artwork-item.html artwork=artwork %}</li>
    {% endfor %}
  </ul>
  <hr></hr>
  <a href="/artworks" class="containerz__footer">
    <button class="button-primary">See all Artwork</button>
  </a>
</div>
