.container
  border-top: 1px solid $gray-light
  border-bottom: 1px solid $gray-dark
  background-color: $gray
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto 1fr auto
  grid-template-areas: "header" "body" "footer"
  column-gap: 16px
  row-gap: 8px
  padding: 16px
  
  &__header
    background-color: $yellow
    box-shadow: $shadow-3dp
    color: $black
    grid-area: header
    padding: 8px 16px 8px 16px
    margin: 8px 0
    margin-left: -16px

  &__body
    color: $yellow
    margin: 8px 0
    grid-area: body
    &--wide
      margin: 0 -16px 

  &__footer
    grid-area: footer
    justify-self: end
    margin: 8px 0

  &__block
    margin-bottom: 16px

.containerz
  border-top: 1px solid $gray-light
  border-bottom: 1px solid $gray-dark
  background-color: $gray
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  column-gap: 16px
  row-gap: 16px
  padding: 16px
  &--flat
    border: none
  
  &__header
    padding-left: 16px
    margin-left: -32px
    margin-right: -16px

  &__footer
    justify-self: right

.container-small
  display: grid
  grid-template-columns: 1fr
  grid-template-rows: auto
  column-gap: 6px
  row-gap: 6px
  padding: 6px
  
