@media screen and (max-width: $screen-mobile)
  section.large
    max-height: 80vh

@media screen and (min-width: $screen-mobile)
  section.large
    height: 80vh

article.card
  justify-self: center
