---
---
@import "variables"
@import "mixins/containers"
@import "includes/header"
@import "includes/footer"

html body
  height: 100%
  width: 100%
  padding: 0
  margin: 0

p, button, ul, a, h1, h2, h3, h4
  margin: 0
  padding: 0

img
  width: 100%
  height: 100%


h1, h2, h3, h4, button, a
  font-family: $font-header

h3, h4
  font-size: 18px

h3
  font-weight: lighter

h1
  color: $yellow
  font-size: 20px
  font-weight: 200

button, p, li
  font-size: 16px

p, li
  font-family: $font-body
  font-weight: lighter

h2
  text-decoration: inherit
  font-size: 20px
