---
---
@import "variables"
@import "wrapper"
@import "includes/header"
@import "includes/footer"
@import "includes/menu"

html
  height: 100vh
  width: 100%

html, body
  padding: 0
  margin: 0

body
  background-color: $black
  height: 100vh
  width: 100%

p, button, ul, a, h1, h2, h3, h4, h5, img
  margin: 0
  padding: 0

a
  text-decoration: none
  color: inherit

img
  display: block
  width: 100%

svg
  width: 100%

ul
  list-style: none


h1, h2, h3, button, a
  font-family: $font-header

button, li, h6
  font-size: 16px
  color: $yellow

li
  font-family: $font-body
  font-weight: lighter

p
  font-size: 16px
  font-weight: lighter
  font-family: $font-body 
  color: $yellow--dark

h1
  color: $yellow
  font-size: 20px
  font-weight: 200

h2
  text-decoration: inherit
  font-size: 20px
  font-weight: 600
  font-family: $font-header
  
h3
  font-size: 18px
  font-weight: lighter
  color: $yellow

h4
  color: $yellow
  font-size: 18px
  font-weight: lighter
  font-family: $font-header

h5
  font-size: 16px
  font-weight: lighter
  font-family: $font-body

hr
  border: 0.5px solid $yellow
  width: 100%
