---
---
$baseurl: "{{ site.url }}"
@import "variables"
@import "mixins/buttons"
@import "mixins/containers"
@import "mixins/syantax"
@import "includes/artwork-item"

.about
  &__text
    display: inline-block
    width: 50%
    margin: 8px 0
  &__avatar
    display: inline-block
    float: right
  &__button
    justify-self: start

