$yellow: #FFC845 
$white: #FFFFFF
$gray-light: #444444
$gray:       #333333
$gray-dark:  #222222
$black-light: #222222
$black:       #111111
$black-dark:  #000000
$red: #CF4520

$font-header: "Roboto Mono", "Open Sans", sans-serif
$font-body: "Open Sans", sans-serif

$shadow-2dp: 0 2px 4px 0 rgba(0,0,0,0.5)
$shadow-3dp: 0 3px 6px 0 rgba(0,0,0,0.5)

