#wrapper
  display: grid
  height: 100%
  grid-template-rows: auto 1fr auto auto

  & > header
    grid-area: head

  & > main
    grid-area: main

  & .nav-bottom
    grid-area: nav-bottom

  & .nav-drawer
    grid-area: nav-drawer

  & > footer
    grid-area: footer

@media screen and (max-width: $screen-mobile)
  #wrapper
    width: 100%
    margin: 0
    padding: 0
    grid-template-areas: "head" "main" "footer" "nav-bottom"

@media screen and (max-width: $screen-mobile--landscape) and (orientation: landscape)
  #wrapper
    width: 360px
    margin: 0 auto
    padding: 0
