---
layout: default
title: home
---
<link rel='stylesheet' href="assets/css/home.css">

<div class="about containerz">
  <a class="containerz__header" href="/about.html">
    <h2 class="banner">> Joel Lithgow</h2>
  </a>
  <div>
    <img src="assets/media/avatar__1.jpg" alt='Portrait photo.' class='about__avatar'>
    <h3 class="about__text">Jack of all trades,<br>master of none.</h3>
    <p class="about__text">artist, designer, developer, I like to learn every part of the process and something more and stuff so lik eyeah should not get so caught up on this par of it.</p>
  </div>
  <a href="/about.html">
    <button class="button-secondary">learn more about me</button>
  </a>
</div>
<!--
<div class="latest container">
  <h2 class="container__header">/Latest</h2>
    <ul class="container__body">
      {% include page-item.html label="Artwork" page=site.artwork.first %}
      {% include page-item.html label="Blog" page=site.posts.first %}
    </ul>
  </h2>
</div>
-->

<div id="artwork" class="artwork containerz">
  <a href="/artwork" class="containerz__header">
    <h2 class='banner'>/ Artwork</h2>
  </a>

  {% assign artwork__latest = site.artwork.last %}
  {% include artwork-item.html type="latest" artwork=artwork__latest %}

  {% assign artwork__featured = site.artwork | where_exp: "item", "item.featured == true and item != site.artwork.last" | sample %}
  {% include artwork-item.html type="featured" artwork=artwork__featured %}

  <a href="/artworks/" class="containerz__footer">
    <button class="button-primary">see all artwork</button>
  </a>
</div>

<div class="social containerz">
  <a class="containerz__header" href="/social.html">
    <h2 class="banner">/ Social</h2>
  </a>
  <ul class="social__list">
    <li class="social__item">
      <h3>- email <span class="syantax-colon">:</span></h3>
      <a href='mailto:joelnotlithgow@gmail.com'>
        <h4 class="button-inline">joelnotlithgow@gmail.com</h4>
      </a>
    </li>
    <li class="social__item">
      <h3>- instagram <span class="syantax-colon">:</span></h3>
      <a href="www.instagram.com/joellithgow">
        <h4 class="button-inline">joellithgow</h4>
      </a>
    </li>
  </ul>
</div>
