---
layout: default
title: home
---
<script src="//cdn.jsdelivr.net/npm/eruda"></script>
<script>eruda.init();</script>

<link rel='stylesheet' href="assets/css/home.css">


<div class="about container">
  <a href="/about.html">
    <h2 class="container__header">/Joel Lithgow</h2>
  </a>
  <div class="container__body">
    <img src="assets/media/avatar__1.jpg" alt='Portrait photo.' class='about__avatar'>
    <h3 class="about__text">Jack of all trades,<br>master of none.</h3>
    <p class="about__text">artist, designer, developer, I like to learn every part of the process and something more and stuff so lik eyeah should not get so caught up on this par of it.</p>
  </div>
  <a href="/about.html" class="container__footer about__button">
    <button class="button-secondary">> learn more about me</button>
  </a>
</div>

<div class="artwork container container__theme_secondary">
  <a href="/artwork">
    <h2 class='container__header'>/Artwork</h2>
  </a>
  <div class="container__body">
    
    <div class="container__block">
      {% assign artwork__latest = site.artwork.last %}
      {% include artwork-item.html label="latest" artwork=artwork__latest %}
    </div>

    <div class="container__block">
      {% assign artwork__featured = site.artwork | where_exp: "item", "item.featured == true and item != site.artwork.last" | sample %}
      {% include artwork-item.html label="featured" artwork=artwork__featured %}
    </div>

  </div>
  <a href="artwork/all.html" class="container__footer">
    <button class="button-primary">> see all artwork</button>
  </a>
</div>

{% comment %}
<div class='newsroom'>
  <p class='newsroom-description'>Posts by/about/from me.</p>
  <ul class='newsroom-list'>
    <li class='newsroom-item'>
      <p>Some text</p>
    </li>
  </ul>
</div>
{% endcomment %}

<div class="social container">
  <a href="/social.html">
    <h2 class="container__header">/Social</h2>
  </a>
  <ul class="social__list container__body">
    <li class="social__item container__block">
      <h3>- email <span class="syantax-colon">:</span></h3>
      <a href='mailto:joelnotlithgow@gmail.com'>
        <h4 class="button-inline">joelnotlithgow@gmail.com</h4>
      </a>
    </li>
    <li class="social__item container__block">
      <h3>- instagram <span class="syantax-colon">:</span></h3>
      <a href="www.instagram.com/joellithgow">
        <h4 class="button-inline">joellithgow</h4>
      </a>
    </li>
  </ul>
</div>
