---
layout: default
title: collections
permalink: /artwork/collections/
---
<link rel="stylesheet" href="/assets/css/collections.css"></link>

<div class="containerz">
  <a href="/artwork/" class="banner">
    <h3>Artwork -</h3>
    <h2>> Collections</h2>
  </a>
  <ul>
    {% assign collections =  site.artwork | map: 'collections' | join: ','  | split: ',' | uniq %}
    {% assign collectionz = site.artwork-collection %}
    {% for collection in collectionz %}
      <li>Test {% include collection-list.html collection=collection%}</li>
    {% endfor %}
  </ul>
</div>
